//variable
$black-color: #000000;
$white-color: #ffffff;
$main-color: #29AD37;
$sub-color: #ffffff;
$gray-color: #B5B5B5;
$footer-bg: #F8F8F8;
$footer-gray: #777777;


$screen-pc: 1440px;
$screen-xs-pc: 1120px;
$screen-mobile: 720px;



//font
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*,body{
    font-family: Pretendard,'Noto Sans KR', sans-serif;
	font-weight: 500;
}

//전체 설정
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
a{
    color:#000000;
    text-decoration: none;
}
button{
    padding:0;
    margin:0;
    background: none;
    border:none;
}
//공통 class
.d-flex{
    display: flex;
}
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}


.text-center{
    text-align: center;
}

.container{
    max-width: 1120px;
    margin:0 auto;
}
.img-wrap{
    font-size: 0;
}
img{
    max-width: 100%;
}
//colorclass
.main-color-font{
    color:$main-color;
}

//loading

//loading
.before-load{
    .wrapper{
        opacity: 0;
    }
    .loading{
        opacity: 1;
    }
}
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	background: white;
	opacity: 0;
	transition: 0.5s;
    .loading-circle {
        width: 54px;
        height: 54px;
        animation: loading-spin 3s infinite;
        circle {
            stroke: $main-color;
            stroke-width: 4;
            /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
            stroke-dasharray: 157, 157;
            stroke-dashoffset: 0;
            fill: transparent;
            animation: loading-circle-ani 1s infinite;
            /* transition: 1s; */
        }
    }

}
@keyframes loading-spin {
	100% { transform: rotate(360deg); }
}
@keyframes loading-circle-ani {
	0% { stroke-dashoffset: 157; }
	75% { stroke-dashoffset: -147; }
	100% { stroke-dashoffset: -157; }
}

//탭 컨텐츠
.tab-btns{
    display: flex;
    li{
        a{
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -1.4px;
            margin-right: 35px;
            color:$gray-color;
            cursor: pointer;
        } 
        &.is_on{
            a{
                color:$black-color;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.tab-contents{
    .tab-content{
        display: none;
        &.is_on{
            display: block;
        }
    }
}
.bar-list{
    li{
        position: relative;
        &:first-child{
            padding-left: 0 !important;
            &::before{
                display: none;
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 12px;

        }
    }
}
//animate 기본설정
.animate-hidden-box{
    overflow: hidden;
}
.back-to-position{
    opacity: 0;
    transition-duration: 1s;
    @for $i from 1 through 20{
        &.delay-#{$i}s{
            transition-delay : ($i * 0.1s);
        }
        &.duration-#{$i}s{
            transition-duration:($i * 0.1s);
        }
    }
    &.to-top{
        transform:translateY(70px);
    }
    &.to-right{
        transform:translateX(-150px);
    }
    &.to-left{
        transform:translateX(70px);
    }
}
.show{
    .back-to-position{
        opacity: 1;
        &.to-top{
            transform:translateY(0px);
        }
        &.to-right,&.to-left{
            transform:translateX(0px);
        }
    }
}

@media screen and (max-width:$screen-xs-pc){
    .container{
        width: 100%;
        padding:0 16px;
    }
}
@media screen and (max-width:$screen-mobile){
    body{
        overflow-x: hidden;
    }
}